@{
    ViewData["Title"] = "Add New Job";
}


<!-- Add New Job  -->
<div class="container-xxl py-5 mt-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row gy-5 gx-4">
            <div class="col-lg-12">


                <div class="addjob-form">
                    <div class="row g-3 my-4">
                        <div class="col-8"><h4 class="mb-4">Add New Job Vacancy</h4></div>

                    </div>
                    <hr />
                    <form id="frmAddNewJob">
                        <div class="row g-3 my-4">
                            <div class="col-12 col-sm-6">
                                <input name="ClientId" value="1" type="number" class="d-none">
                                <select type="text" class="form-select" id="department" name="DepartId">
                                    <option value="0">Select Department</option>

                                </select>
                            </div>
                            <div class="col-12 col-sm-6">
                                <input class="form-control bg-white" placeholder="Job Title" name="JobTitle" id="tb_jobTitle">
                            </div>

                            <div class="col-12 col-sm-6">
                                <select type="text" class="form-select" name="JobType" id="tb_jobType">
                                    <option selected>Job Type</option>
                                    <option>Contract</option>
                                    <option>Full-time</option>
                                    <option>Remote</option>
                                </select>
                            </div>
                            <div class="col-12 col-sm-6">
                                <input class="form-control bg-white" placeholder="Salary" name="Salary" >
                            </div>

                            <div class="col-12 col-sm-6">
                                <input id="sDate" class="form-control bg-white" placeholder="Start Date : " type="date" name="StartDate" />
                            </div>
                            <div class="col-12 col-sm-6">
                                <input id="eDate" class="form-control bg-white" placeholder="End Date : " type="date" name="EndDate">
                            </div>
                            <div class="col-12 col-sm-6">
                                <input class="form-control bg-white" placeholder="Qualification" name="Educations" id="tb_Edu">
                            </div>


                            <div class="col-12 col-sm-6">
                                <div class="input-group mb-4">

                                    <input type="text" id="tb_skills" class="form-control bg-white" placeholder="Skills" data-toggle="tooltip" data-placement="bottom" title="Please make use of all the terms, including their abbreviations while adding the skills." />
                                    <input type="button" value="+" id="btn_addSkills" class="input-group-text text-primary" />
                                </div>

                                <ul id='list_skills' class="tags ps-0" style="display:none">
                                </ul>

                                <div id="cb_skills">

                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <select type="text" class="form-select" name="JobShift" id="tb_jobShift">
                                    <option selected>Job Shift</option>
                                    <option>Day</option>
                                    <option>Afternoon</option>
                                    <option>Night</option>
                                </select>
                            </div>

                            <div class="col-12 col-sm-6">
                                <!--  <input class="form-control bg-white" placeholder="Experience">-->
                                <div class="input-group mb-3">
                                    <input class="form-control bg-white" placeholder="Experience from" name="ExperienceFrom" type="number" id="tb_ExpFrom">
                                    <span class="input-group-text"><i class="far fa-calendar-alt text-primary"></i></span>
                                    <input class="form-control" placeholder="Experience to" name="ExperienceTo" type="number"  id="tb_ExpTo">
                                </div>
                            </div>
                            <div class="col-12">
                                <textarea class="form-control" rows="2" placeholder="Requirements" name="Requirement"></textarea>
                            </div>
                            <div class="col-12">
                                <textarea class="form-control" rows="2" placeholder="Responsibilities" name="Responsibility"></textarea>
                            </div>
                            <div class="col-12">
                                <textarea class="form-control" rows="2" placeholder="Additonal Description" name="AdditionalDesc"></textarea>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100" type="submit">Add New Job</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add New End -->
<!--Modal-->
<div class="modal fade" id="jobposted" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="mb-3">
                    <h4 for="recipient-name" class="col-form-label">Job has been posted.</h4>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>

<!--Modal-->
<div class="modal fade" id="validateformAdd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="mb-3">
                    <h4 for="recipient-name" class="col-form-label">Please fill the form correctly.</h4>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
@*<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>*@

<script src="~/js/AddNewJobImplementation.js"></script>

<style>

    ul.tags li {
        display: inline-block;
        margin-right: 10px;
        color: #666565;
        background-color: #e6f0ff;
        padding: 10px;
        border-radius: 15px;
        margin-bottom:10px;
    }

    input[type="date"]:before {
        content: attr(placeholder);
        padding-right:5px;
    }

</style>

