<!-- Header End -->

<div class="container-xxl py-5 bg-dark page-header mb-5">

<div class="container my-5 pt-5 pb-4">

<h1 class="display-3 text-white mb-3 animated slideInDown">About Us</h1>

<nav aria-label="breadcrumb">

<ol class="breadcrumb text-uppercase">

</ol>

</nav>

</div>

</div>

<!-- Header End -->

<script>

    if (window.location.search == "Admin") {
        document.getElementById("btnAddNew").style.display = "inline-block";
        //document.getElementById("btnHome").style.display = "inline-block";
    }
    else {
        document.getElementById("btnAddNew").style.display = "none";
        //document.getElementById("btnHome").style.display = "none";
    }
</script>





<!-- About Start -->

<div class="container-xxl py-5">

<div class="container">

<div class="row g-5 align-items-center">

<div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">

<div class="row g-0 about-bg rounded overflow-hidden">

<div class="col-6 text-start">

<img class="img-fluid w-100" src="~/img/about-1.jpg">

</div>

<div class="col-6 text-start">

<img class="img-fluid" src="~/img/about-2.jpg" style="width: 85%; margin-top: 15%;">

</div>

<div class="col-6 text-end">

<img class="img-fluid" src="~/img/about-3.jpg" style="width: 85%;">

</div>

<div class="col-6 text-end">

<img class="img-fluid w-100" src="~/img/about-4.jpg">

</div>

</div>

</div>

<div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">

<h1 class="mb-4">We Help To Get The Best Job And Find A Talent</h1>

<p class="mb-4">Welcome to HireSort!</p>

<p><i class="fa fa-check text-primary me-3"></i>At HireSort, our mission is to revolutionize the way candidates are selected for job positions. We understand that finding the perfect match between job requirements and candidate qualifications can be a time-consuming and challenging task. That's why we have developed a cutting-edge solution that streamlines the entire process, saving you valuable time and resources.</p>

<p><i class="fa fa-check text-primary me-3"></i>Our project, HireSort, is designed to simplify and expedite the candidate selection process by leveraging the power of automation. Gone are the days of manually sifting through countless resumes, trying to identify the best fit for a particular job description. With HireSort, we bring you a state-of-the-art algorithm that analyzes resumes and matches them with desired job descriptions in record time.</p>

<p><i class="fa fa-check text-primary me-3"></i>Our core idea revolves around eliminating the need for multiple resources and the unnecessary hassle of manually shortlisting candidates. By automating this process, we ensure that you can swiftly identify the most suitable candidates, significantly reducing the time and effort required.</p>
<p><i class="fa fa-check text-primary me-3"></i>Join us on this journey to redefine candidate selection. Experience the power of automation with HireSort and unlock a world of potential.</p>

</div>

</div>

</div>

</div>

<!-- About End -->
