@{
    ViewData["Title"] = "View Shortlisted Resume";
}

<!--View Shortlisted Resume Start-->
<div class="container-xxl py-5 mt-5">
    <div class="container">
        <div class="row g-3 my-4">
            <div class="col-8"><h4 class="mb-4">Shortlisted Resumes</h4></div>
            <div class="col-4 text-end">  <a asp-area="" asp-controller="" asp-action="" class="btn btn-primary w-50">Back</a></div>
        </div>
        <hr />
        <div class="tab-class mt-5 text-center wow fadeInUp" data-wow-delay="0.3s">

            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                </div>

            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
@*<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>*@

<script src="~/js/ShortlistResumeImplementation.js"></script>

<!--View Shortlisted Resume End-->

 