@{
    ViewData["Title"] = "Log In";
}


<!-- Add New Job  -->

<div class="container-xxl loginCard py-5 mt-5 wow fadeInUp " data-wow-delay="0.1s">
    <div class="container">
        <div class="row gy-5 gx-4">
            <div class="col-lg-12">
                <div class="">
                    <div class="text-center">
                        <img src="~/img/logo_hiresort.png" height="80" />
                    </div>
                    <form>
                        <div class="row g-3 my-4">
                            <div class="col-12">
                                <label class="form-label">Username</label>
                                <input class="form-control bg-white" placeholder="Enter Username">
                            </div>
                            <div class="col-12">
                                <label class="form-label">Password</label>
                                <input class="form-control bg-white" placeholder="Enter Password" type="password">
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 mt-5" type="submit">Log In</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add New End -->

<style>
    .container-xxl {
        max-width: 600px !important;
    }

        .container-xxl.loginCard {
            box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
        }

    .footer {
        display: none;
    }

    .navbar {
        display: none;
    }

    #pagescroll {
        display: none;
    }
</style>